
.wrapper{
  position: relative;
  display: inline-block;
}
.popover{
  border: 1px solid #aaaaaa;
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
  padding: 10px;
  margin-left: 10px;
  background: white;
}
.popover::before{
  content: '';
  position: absolute;
  right: 100%;
  border: 10px transparent solid;
  border-right-color: #aaaaaa;
  top: 5px;
}
.popover::after{
  content: '';
  position: absolute;
  right: 100%;
  top: 5px;
  border: 10px transparent solid;
  border-right-color: white;
  margin-right: -1px;
}
